@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: "Oranienbaum", serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  background-color: #f3f3f3;
  height: 90vh;
  position: relative;
  width: 70vw;
  padding: 5px;
  border-radius: 20px;
}

.images {
  margin-left: -5rem;
}

.box-image {
  position: absolute;
  top: 43%;
}

.faq-content {
  max-width: 600px;
  margin: 20px auto;
}

.faq-item {
  background-color: #f3f3f3;
  border: 1px solid black;
  border-radius: 0.8rem;
  margin: 1rem;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4),
    0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}

.title {
  font-size: 1.3rem;
  color: gray;
}

.text {
  font-size: 1.2rem;
  display: none;
}

.btn-faq {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.faq-item.active {
  background-color: lightblue;
}
.faq-item.active .text {
  display: block;
  font-weight: bold;
}
.faq-item.active .title {
  color: red;
  font-weight: bold;
}
